#encoding: utf-8
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  <table class="table">
    <tr>
      <td>
        <%= f.label :門禁卡ID %>
      </td>
      <td>
        <%= f.text_field :card_id %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :登入帳號 %>
      </td>
      <td>
        <%= f.text_field :account %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :密碼 %>
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :姓名 %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :綽號 %>
      </td>
      <td>
        <%= f.text_field :nickname %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :人員類別 %>
      </td>
      <td>
        <%= f.select :user_type, user_type_map %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :權限等級 %>
      </td>
      <td>
        <%= f.select :auth_level, auth_level_map %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :是否顯示於平面 %>
      </td>
      <td>
        <%= f.select :display, { "否" => false , "是" => true } %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit(value="儲存",class: "btn btn-primary") %>
      </td>
      <td>
        <%= link_to '取消', users_path , class: "btn" %>
      </td>
    </tr>
  </table>
<% end %>
