<h1>Listing boxes</h1>

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Machine</th>
    <th>r_no</th>
    <th>Name</th>
    <th>Type</th>
    <th>css_class</th>
    <th>display_users</th>
    <th>display_cols</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.id %></td>
    <td><%= box.machine_id %></td>
    <td><%= box.r_no %></td>
    <td><%= box.name %></td>
    <td><%= box.size_type %></td>
    <td><%= box.css_class %></td>
    <td><%= box.display_users %></td>
    <td><%= box.display_cols %></td>
    <td><%= link_to 'Show', box , class:"btn" %></td>
    <td><%= link_to 'Edit', edit_box_path(box), class:"btn" %></td>
    <td><%= link_to 'Destroy', box, confirm: 'Are you sure?', method: :delete, class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
